DATABASE_URL=postgres://avnadmin:replace-me@replace-me.aivencloud.com:12345/defaultdb?sslmode=require
GEMINI_API_KEY=replace-me
PINECONE_API_KEY=replace-me
PINECONE_INDEX_NAME=replace-me
GOOGLE_CLIENT_ID=replace-me
GOOGLE_CLIENT_SECRET=replace-me
NEXTAUTH_SECRET=replace-me-with-a-random-secret
NEXTAUTH_URL=https://example.com
